.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.AppAgePredictor{
  background-color: #282c34;
  color: #dfdfdf;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 3px;
  height: 30vh;

}

.AppAgePredictor input{
  height: 25px;
  border-radius: 10px;
  cursor: pointer;

}

.AppAgePredictor button{
  background-color: rgb(0, 255, 13);
  border-radius: 10px;
  padding: 8px;
  
}

.catFact{
  background-color: orange;
  height: auto;
  color: #ffffff;
  border-radius: 12px;
  padding: 5px;
}

.catFact button{
  background-color: rgba(224, 17, 17, 0.445);

}

